GEMINI_API_KEY=AQ.Ab8RN6KP8b73tWMCUKzatjlgFWWgCvk0HRfL67fwA_c4BvMVMg
VITE_SUPABASE_URL=https://ztamostzddvucdbhlrhg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp0YW1vc3R6ZGR2dWNkYmhscmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY2MDIzMDgsImV4cCI6MjEwMjE3ODMwOH0.X_U6thZDKqhEGqt2K7aIQMKdX4-VPH3sHXEYnoOmA3Yur